<page
  xmlns="http://schemas.nativescript.org/tns.xsd"
  xmlns:drawer="nativescript-telerik-ui-pro/sidedrawer"
  xmlns:lv="nativescript-telerik-ui-pro/listview"
  xmlns:widgets="shared/widgets"
  xmlns:statusbar="nativescript-statusbar"
  loaded="loaded">
  <page.actionBar>
    <action-bar title="Settings">
      <navigation-button icon="~/ic_menu.png" tap="toggleDrawer" ios:visibility="collapsed" />
      <action-bar.actionItems>
        <ios>
          <action-item icon="~/ic_menu.png" ios.position="left" tap="toggleDrawer" />
        </ios>     
      </action-bar.actionItems>
    </action-bar>
  </page.actionBar>

  <drawer:rad-side-drawer id="drawer">
    <drawer:rad-side-drawer.mainContent>
      <grid-layout rows="auto, auto, auto, auto, auto, auto, *" id="main-content" loaded="mainContentLoaded">
        <stack-layout row="0" rows="auto, auto, *" class="settingsHeader">
            <label text="Current Location" class="locationHeader" row="0" />
            <label text="{{ userLocation.city }}" class="locationSubHeader" row="1" />
            <stack-layout class="separator" colSpan="1" verticalAlignment="bottom" row="2" />
        </stack-layout>
        <grid-layout row="1" rows="auto, *" cols="auto, *" class="switchItem">
            <label text="Use Current Location" col="0" row="0" />
            <switch checked="{{ useCurrentLocation }}" propertyChange="locationSwitchChanged" col="1" horizontalAlignment="right" row="0" />
            <stack-layout class="separator" colSpan="2" verticalAlignment="bottom" row="1" />
        </grid-layout>
        <grid-layout row="2" rows="auto, *" cols="auto, *" class="settingsItem">
            <label text="Use Another Location" col="0" row="0" />
            <text-field keyboardType="phone" text="{{ userLocation.postalCode }}" isEnabled="{{ !useCurrentLocation }}" hint="{{ hintMessage }}" col="1" horizontalAlignment="right" row="0"/>
            <stack-layout class="separator" colSpan="2" verticalAlignment="bottom" row="1" />
        </grid-layout>
        <grid-layout row="3" rows="auto, *" cols="auto, *" class="switchItem">
            <label text="Browse by Dealer" col="0" row="0" />
            <switch checked="{{ browseByDealer }}" propertyChange="dealerSwitchChanged" col="1" horizontalAlignment="right" row="0" />
            <stack-layout class="separator" colSpan="2" verticalAlignment="bottom" row="1" />
        </grid-layout>
        <grid-layout row="4" style="height:45; background-color: white">
            <label text="Select Dealer" verticalAlignment="center" style="margin-left:5" />
            <label text="&#xf105; " class="arrow" horizontalAlignment="right" verticalAlignment="center" style="margin-right:10" />
             <stack-layout class="separator" verticalAlignment="bottom" row="1" />
        </grid-layout>
        
        <grid-layout columns="*,150,auto" row="5" backgroundColor="green" style="height:45; background-color: white" tap="searchRadiusTapped">
            <label text="Search Radius" verticalAlignment="center" style="margin-left:5" />           
            <label col="1" text="{{ selectedRadius.optionLabel }}" horizontalAlignment="right" verticalAlignment="center" class="itemDetailText small" style="margin-right:20"/>
            <label col="2" text="&#xf105; " class="arrow" verticalAlignment="center" style="margin-right:10" />
        </grid-layout>
   
        <grid-layout row="6" rows="50" class="buttonArea">
            <button text="Close" tap="showInventory" class="selectButton" row="0" />
        </grid-layout>
      </grid-layout>
    </drawer:rad-side-drawer.mainContent>
    <drawer:rad-side-drawer.drawerContent>
      <widgets:drawer-content />
    </drawer:rad-side-drawer.drawerContent>
  </drawer:rad-side-drawer>
</page>