.listItemLabel {
    margin: 7 0 0 20;   
}

.listItemArrow {
    margin: 2 10 0 0;
}

.separator {
    background-color: #DBDBDB;
    height: 1;
    padding: 0;
}

Page {
    background-color: #DBDBDB;
}

.selectButton {
    font-weight: bold;
    margin: 0 15 15 15;
    color:white;
    background-color:#e05544;    
}

.settingsHeader {
    height: 50;
    background-color: #FFFFFF;
    padding: 5 5 0 5;
}

.settingsItem {
    background-color: #FFFFFF;
    height: 45;
    padding: 10 5 0 5;
}

.switchItem {
    background-color: #FFFFFF;
    height: 45;
    padding: 5 5 0 5; 
}

.locationHeader {
    font-weight: bold;
}

.locationSubHeader {
    font-size: 12;
    margin-bottom: 5;
}

.buttonArea {
    margin-top: 20;
}