.itemHeader {
    color:#9ca3a6;
    font-size: 12;
    font-weight: bold;
    margin:8 0 0 20
}
.carImage {
    height:120;
    margin-bottom:-16;    
}
.itemValue {
    color:#32364c;
    font-size: 14;
    margin:7 0 11 20;
}


.selectButton {
    font-weight: bold;
    margin:0 10 0 10;
    color:white;
    background-color:#e05544;    
}