.listItem{    
    margin:10 0 0 10;
    font-size: 16;
    color:#32364c;
}

.image {
    width:36%;
    border-width:0;
    margin-left:6;
    margin-right:10;
}


.myHeader-container {
    background-color: #0a2463;
    color:white;
}

.myHeader {
    margin:10;
}
    .myHeader button{
        font-size:17;
        background-color:transparent;
        border-color:rgba(255, 0, 0, 0.0);
        border-width: 1;
    }
    .myHeader label {
        color:white;
    }

.separator {
    background-color: #DBDBDB;
    height: 1;
}

.star {
    background-color:transparent;
    border-color:rgba(255, 0, 0, 0.0);
    border-width: 1;
    font-size:16;
    color:#ff101f; 
    text-align:center;
}
.check {
    margin-left:10;
    font-size:20;
    color:#ff101f; 
    background-color:transparent;
}