.listItemInSelectionMode {    
    margin: 0 0 0 10
}

Page {
    background-color: #DBDBDB;
}

.separator {
    background-color: #DBDBDB;
    height: 1;
}

.countDisplay {
    margin: 0 0 0 20;
    font-size: 12;
}