.listItem{    
    margin:10 0 0 10;
    font-size: 16;
    color:#32364c;
}

.image {
    width:130;
    border-width:0;
    margin-right:10;
}

.itemDetailTextButton {
    font-size: 14;
    color:#51b5e6;
}
.separator {
    background-color: #DBDBDB;
    height: 1;
}